*{
    margin: 0;
    padding: 0;
}
:root{
    --bgcolor: rgb(19, 132, 237);
    --border1: rgb(208, 215, 206);

}
div li{
    list-style-type:none;
    margin: 4vw;
    padding: 2vw;
    border: 4px solid var(--bgcolor);
    background-color: var(--border1);
    top: 0px;
    left: 30px;
}
div ul{
    display: flex;
    position: sticky;
    top: 0;
}
.list{
    background-color: yellow;
}
p{
    text-align: justify;
    margin: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}